/*Спецификация*/
body{
	font-family: 'PT Sans', sans-serif;
}

ul, li{
	display: block;
	margin :0;
	padding: 0;
}

/*Первый экран*/

.header{
	background:#fcdb00;
	color:#010101;
	padding-top: 58px;
}

.menu{
	margin-top: 10px;
}

.menu__item{
	margin: 0 57px;
}

.menu__item a{
	font-size: 22px;
	font-weight: 700;
	color: #000;
}